{% extends "layout.html" %}

{% block body %}
<div class="col-md-6 offset-md-3">
    <h2 style="text-align: center ">Categoria</h2>
    <form class="form-group"> 
      <div class="form-group">
     
        <label>Escoger categoria</label><br>
        <label for="categoria">Selecciona una categoría:</label>
      <select class="form-control" id="imput text">
        <option>Opcion 1</option>
        <option>Opcion 2</option>
        <option>Opcion 3</option>
        <option>Opcion 4</option>
        <option>Opcion 5</option>
      </select>
      <button type="button" class="btn btn-primary"  style="margin-right: 50px;">Seleccionar categoria</button>
      </div>
    </form>
      
{% endblock %}