{% extends "layout.html" %} {% block body %}
<div class="col-md-6 offset-md-3">
  <h2 style="text-align: center">Registro usuario</h2>
  <form class="form-group">
    <div class="form-group">
      <label>Nombre Completo</label>
      <input
        type="text"
        class="form-control"
        id="nombre"
        placeholder="Ingrese su nombre  Completo  "
        name="nombre"
      />
    </div>
    <div class="form-group">
      <br />
      <label for="exampleFormControlInput1" class="form-label"
        >Ingrese su email</label
      >
      <input
        type="email"
        class="form-control"
        id="useremail"
        placeholder=" Ingrese su email"
        name="useremail"
      />
    </div>

    <br />
    <div>
      <a class="btn btn-primary" style="margin-right: 50px" onclick="saveuser()">Agregar Usuario</a>
      <a class="btn btn-primary" onclick="MostrarUser()">Mostrar usuario</a>
    </div>
  </form>
</div>
<br />
<!-- <div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">email</th>
        <th scope="col">NombreTarea</th>
      </tr>
    </thead>
    <tbody id="listausuario">

    </tbody>
  </table>
</div>
<br /> -->
<div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">email</th>
      </tr>
    </thead>
    <tbody id="listausuario2">

    </tbody>
  </table>
</div>
{% endblock %}
